body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header Section */
#header {
    height: 30vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

.user-box {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.user-box img {
    border-radius: 50%;
    width: 300px;
    border: 2px solid #6caed5;
}

.user-box h1 {
    font-weight: bold;
    margin: 10px;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

/* Navigation Bar */
.nav-bar {
    top: 0;
    position: sticky;
    z-index: 2;
}

.navbar {
    background-color: #333333;
}

.navbar-brand img {
    height: 50px;
}

.nav-bar .fa-bars {
    font-size: 35px;
    color: #ffffff;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-nav {
    float: right;
    text-align: right;
}

.nav-link {
    color: #ffffff !important;
}

/* About Section */
.about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f8f9fa;
    color: #333333;
}

.profile-img {
    height: 400px;
    max-width: 100%;
    border-radius: 50%;
}

/* Skills Bar */
.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress {
    border-radius: 16px !important;
    margin-bottom: 10px;
}

.progress-bar {
    border-radius: 16px;
    background: #007bff !important;
}

/* Resume Section */
.resume {
    padding: 50px 0;
    background: #e9ecef;
}

.resume h3 {
    margin-bottom: 30px;
}

.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 0;
}

.timeline:before {
    content: '';
    background: #007bff;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.timeline li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline li h4 {
    background-color: #007bff;
    padding: 5px 20px;
    color: #ffffff;
    font-size: 15px;
}

.timeline li h4 span {
    font-weight: bold;
    color: #cccccc;
}

.timeline li:before {
    content: '';
    background: #ffffff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #007bff;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

/* Services Section */
.services {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #ffffff;
    color: #333333;
}

.services h1 {
    margin-bottom: 15px;
}

.services-box {
    background: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    transition: all 0.5s;
}

.services-box .fa {
    margin: 0 10px;
    font-size: 30px;
}

.services-box span {
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

.services-box p {
    font-size: 15px;
    margin-top: 20px;
    color: #777777;
}

.services-box:hover {
    background: #007bff;
    color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 0;
    transition: 1s;
}

.services-box:hover p {
    color: #ffffff;
}

/* Contact Section */
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/contact1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

.contact .row {
    padding: 30px 0;
    font-size: 22px;
}

.contact .col-md-4 .fa {
    padding: 10px;
    font-size: 40px;
}

.contact .btn {
    padding: 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    background: transparent;
}

.contact .btn:focus {
    box-shadow: none !important;
}

.contact .btn:hover {
    border: 2px solid #007bff !important;
    background: #007bff !important;
    transition: 0.6s;
}

.contact .btn .fa {
    margin-right: 10px;
}

/* Footer */
.footer {
    background: #333333;
    height: 50px;
    margin-top: 50px;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
}

.fa-heart-o {
    color: red;
}

/* Social Icons */
.social-icons {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
    width: 80px;
}

.social-icons ul {
    padding: 0;
    margin: 0;
}

.social-icons ul li {
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding: 6px 12px;
    margin-top: 5px;
    color: #ffffff;
    background: #007bff;
    text-align: center;
    transition: all 0.5s;
}

.social-icons ul li:hover {
    padding-left: 30px;
    width: 80px;
    background: #333333;
    transition: 1s;
}

.suprsend-inbox-container {
    display: flex;
    align-items: center;
  }
  
  #suprsend-inbox {
    width: 30px; /* Adjust width */
    height: 30px; /* Adjust height */
    cursor: pointer;
  }
  
  
